@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary bg-[#0a192f] scroll-smooth
    }

    .containers {
        @apply max-w-full px-[8%]
    }

    .cansend {
        @apply text-blue-300 hover:bg-blue-300 hover:text-black flex items-center justify-around uppercase rounded-md py-3 border border-blue-300 w-[100px] text-[11px] md:text-sm
    }

    .cantsend {
        @apply text-gray-400 text-center flex items-center justify-around uppercase rounded-md py-3 border border-gray-400 w-[100px] text-[11px] md:text-sm cursor-not-allowed
    }

    .button {
        @apply hover:bg-blue-300 flex justify-center uppercase rounded-md py-3 border border-blue-300 w-[100px] text-[11px] md:text-sm
    }

    .icons {
        @apply hover:text-blue-300 text-lg lg:text-xl
    }

    .links {
        @apply hover:text-blue-300 text-[#8892b0]
    }

    .link {
        @apply w-full text-center py-6 text-[#8892b0] capitalize hover:opacity-90
    }

    .paragraph {
        @apply text-lg text-[#ccd6f6] leading-relaxed mt-1
    }

    .form {
        @apply outline-none px-2 py-3 rounded-sm bg-gray-300 w-[300px] md:w-[450px] resize-none
    }

    .h2 {
        @apply capitalize text-2xl text-[#8892b0]
    }
}
